.root {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 60em;
}

.filtersContainer {
  border-bottom: 1px solid var(--color-primary);
  color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  padding-bottom: 1em;
}

.filters {
  align-items: flex-end;
  display: flex;

  > span {
    border: 1px solid gray;
    margin: 0 0.5em;
    padding: 0 5px;
  }

  .filter-group {
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    > span {
      margin-left: 10px;
    }
  }
}

.disabled {
  cursor: not-allowed;

  svg {
    stroke: gray;
  }
}

.viewMode {
  align-items: center;
  cursor: pointer;
  display: flex;

  .icon {
    display: flex;
    margin: 0 0.3em;

    svg {
      stroke: var(--color-primary);
    }
  }
}

.section {
  margin: 0.5em 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.headerButtons {
  display: flex;

  .admin-button {
    margin-right: 15px;
  }
}

.heading {
  color: var(--color-primary);
  font-size: 1.6em;
  text-transform: uppercase;
}

.empty {
  display: flex;
  justify-content: center;
}

.card {
  align-items: center;
  border: 1px solid var(--color-primary);
  display: flex;
  flex-wrap: wrap;
  margin: 0.5em 0;
  padding: 0.5em;

  .leftSide {
    flex: 1 0 80%;
    flex-direction: column;

    .quickInfo {
      align-items: center;
      display: flex;
      flex-direction: row;
    }
  }

  .rightSide {
    align-items: center;
    border-left: 1px solid var(--color-primary);
    display: flex;
    flex: 1 0 15%;
    justify-content: space-around;
    padding: 0 0.5em;
  }
}

.expandedView {
  border-top: 1px solid var(--color-primary);
  display: flex;
  flex: 0 1 100%;
  padding: 0.5em 0;
}

.column3 {
  display: flex;
  flex: 1 0 30%;
  flex-direction: row;
}

.column2 {
  display: flex;
  flex-direction: column;
  margin: 0.5em;

  > div,
  > a {
    margin: 0.5em 0;
  }
}

.status {
  border: 1px solid var(--color-primary);
  margin: 0.5em 0;
  padding: 0.2em 0.5em;
  text-transform: uppercase;
}

.button {
  margin: 0.3em 0.5em;
  padding: 0 0.5em;
}

.pointer {
  cursor: pointer;
}

.version {
  margin-left: 1em;
}

.modal {
  align-items: center;
  background: rgba(255, 255, 255, 0.95);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.modalContent {
  border: 1px solid var(--color-primary);
  height: 50vw;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  width: 50vw;

  .modalText {
    height: calc(100% - 60px);
    overflow-y: scroll;
    padding-right: 10px;
  }

  button {
    bottom: 20px;
    position: absolute;
    right: 20px;
  }
}
