.file-item {
  align-items: center;
  border: 1px solid black;
  display: flex;
  margin: 5px;

  .info {
    border-right: 1px solid black;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 2px 10px 2px 0;
  }

  .buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 10px;

    a {
      align-items: center;
      display: flex;
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:active,
      &:focus {
        outline: none;
      }
    }
  }
}
