.row {
  display: flex;
  flex-direction: row;
}

.hide {
  opacity: 0;
}

.dashed {
  border: 1px dashed #444 !important;
}

.author {
  border: 1px solid #444;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

  .container {
    flex: 1;
  }

  .title {
    font-size: 16px;
    font-weight: 600;
    margin: 5px;
  }

  .label-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 5px;

    .label {
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
    }

    .value {
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.adder {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 5px;

  .title {
    font-size: 18px;
    font-weight: 500;
  }
}

.drag-handle {
  align-items: center;
  border-right: 1px solid #444;
  cursor: move;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
