.drop-section {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 5px;

  .header {
    align-items: center;
    display: flex;
    justify-content: flex-start;

    .upload-button {
      cursor: pointer;
      display: flex;
      margin-left: 5px;
    }

    .title {
      margin: 5px;
      text-transform: uppercase;
    }
  }
}

.no-border-top {
  border-top: none;
}

.dashed-border {
  border-bottom: 1px dashed black;
}

.drag-handle {
  align-items: center;
  border-right: 1px solid black;
  cursor: move;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  padding: 3px;
}

.is-over {
  background-color: #ddd;
}

@keyframes rotating {
  from {
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotate {
  -webkit-animation: rotating 1.5s linear infinite;
  -moz-animation: rotating 1.5s linear infinite;
  -ms-animation: rotating 1.5s linear infinite;
  -o-animation: rotating 1.5s linear infinite;
  animation: rotating 1.5s linear infinite;
}

.icon {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 5px 0 0;
}
