.drop-section {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 5px;

  .empty {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: center;
    margin: 10px 0;

    span {
      color: #888;
      font-size: 14px;
    }
  }

  .header {
    align-items: center;
    display: flex;
    justify-content: flex-start;

    .upload-button {
      cursor: pointer;
      display: flex;
      margin-left: 5px;
    }

    .title {
      margin: 5px;
      text-transform: uppercase;
    }
  }
}

.no-border-top {
  border-top: none;
}

.dashed-border {
  border-bottom: 1px dashed black;
}

.drag-handle {
  align-items: center;
  border-right: 1px solid black;
  cursor: move;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  padding: 3px;
}

.file-item {
  align-items: center;
  border: 1px solid black;
  display: flex;
  margin: 5px;

  .info {
    border-right: 1px solid black;
    display: flex;
    flex: 1;
    padding: 2px 0;
  }

  .buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 5px;

    button {
      border: none;
      cursor: pointer;

      &:active,
      &:focus {
        outline: none;
      }
    }
  }
}
