.step {
  align-items: stretch;
  border: 1px solid #222;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 20px;
  width: 700px;

  .title {
    align-self: center;
  }

  .subtitle {
    align-self: center;
    margin-bottom: 25px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.buttons {
  align-items: center;
  align-self: center;
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
  width: 400px;
}

.modal {
  align-items: center;
  background: rgba(255, 255, 255, 0.95);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
